<app-navbar></app-navbar>
<div class="container">
    <section class="container my-5">
        <h2 class="text-center mb-4">Success Stories</h2>
    </section>
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid img-thumbnail" src="../../assets/rating.jpeg" style="height: 500px;">
            </div>
            <div class="col-md-6 texts text-center">
                <p class="text-center fs-2">We got <strong>3+</strong> rating</p>
                <p class="text-center fs-2">We got <strong>1K+</strong> downloads</p>
            </div>
        </div>
    </section>
    <section class="container my-5">
                <p class="fs-3 text-center ">Here at DTH Subscriber Management, we take great pride in providing a top-notch experience for our customers. Our app has been embraced by a diverse group of users from various walks of life. From tech enthusiasts to fitness enthusiasts, 
                    our app caters to all! Meet some of our delighted customers who have been loving and using our app:</p>
                <ul>
                    <li>"Managing my DTH subscription was a breeze with this app! The billing process is seamless, and I always receive accurate bills. Thank you for making my life easier!" - Priya, Happy Subscriber.</li>
                    <li>"I love how I can customize my DTH plan and view my monthly consumption summary. This app gives me the flexibility I need!" - Sarah, Satisfied Customer.</li>
                    <li>"Thanks to this app, managing my DTH subscription is no longer a chore. The Bill Print feature gives me clear and itemized bills every time." - Ovia, Happy Customer.</li>
                    <li>"This app has revolutionized our DTH operations! With its help, we've achieved efficiency like never before. Our subscribers are happier than ever!" - Ragu, Service Provider.</li>
                </ul>
    </section>
</div>
<app-footer></app-footer>