<app-navbar></app-navbar>
<div class="container">
    <section class="container my-5">
        <h1 class="text-center fs-2 mt-3" >Who We are..........</h1>
    </section>
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid " src="../../assets/mission.jpg" style="height: 300px;">
            </div>
            <div class="col-md-6 mt-4">
                <h2 class="text-center mb-4">Our Mission</h2>
                <p class="text-center fs-3">Articulate your mission to empower businesses with accurate billing and
                    enhance customer satisfaction</p>
            </div>
        </div>
    </section>
    <section class="container my-5">
        <div class="row">
            <div class="col-md-7 mt-4">
                <h2 class="text-center mb-4 mt-3">Data safety</h2>
        <p class="text-center fs-3">This app doesn't collect or share any user data.
            <a href="https://support.google.com/googleplay/answer/11416267?hl=en&visit_id=21691470654470-3290124261778068899&p=data-safety&rd=1"
                target="_blank">Learn more about data safety</a>
        </p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid " src="../../assets/datasafety.avif" style="height: 300px;">
            </div>
        </div>
    </section>
    <section class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid " src="../../assets/datasafetythird.jpg">
            </div>
            <div class="col-md-7 mt-5">
                <h2 class="text-center mb-4 mt-5">No data shared with third parties</h2>
        <p class="text-center fs-3">this app doesn't share user data with other companies or organizations.
            <a href="https://support.google.com/googleplay/answer/11416267?hl=en&visit_id=21691470654470-3290124261778068899&p=data-safety&rd=1"
                target="_blank">Learn more</a>
        </p>
            </div>
        </div>
    </section>
    <section class="container my-3">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h2 class="text-center mb-4 mt-4">No data collected</h2>
        <p class="text-center fs-3">This app doesn’t collect user data</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid " src="../../assets/datano.avif" style="height: 300px;">
            </div>
        </div>
    </section>
    <section class="container my-5">
        <h2 class="text-center mb-4">Innovation Focus</h2>
        <p class="text-center fs-4">Highlight your commitment to innovation, cutting-edge technology, and data security.</p>
    </section>
</div>
<app-footer></app-footer>