<app-navbar></app-navbar>
<div class="container">
    <section class="container my-5">
        <h2 class="text-center mb-4">Contact With Us</h2>
    <div class="row">
        <div class="col-md-6  text-center d-flex flex-column justify-content-center">
            <h4 class="mt-5">Send mail to us</h4>
            <p>
                <img class="icon-image me-3" src="../../assets/email.png" style="height: 50px;">
                <a class="link fs-5" href="mailto:info@example.com">info@appslanka.lk</a>
            </p>
            <h4>Call to us</h4>
            <p>
                <img class="icon-image me-3" src="../../assets/phone.png" style="height: 50px;">
                <a class="link fs-5" href="tel:+94 21 56 6200">021 566200</a>
            </p>
        </div>
        <div class="col-md-6 mt-3">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn mt-3 fs-5">Send</button>
            </form>
        </div>
    </div>
    </section>
    <section class="container my-5">
        <h2 class="text-center mb-4">Support</h2>
        <p class="text-center fs-4">For immediate assistance, see our <a class="fs-4" href="https://youtube.com/playlist?list=PLZmKantulzuT7I1PQn7gWzlGQCApB7s_B" target="_blank"> Playlist</a>.</p>
    </section>
    
    <section class="container my-5">
        <h2 class="text-center mb-4">Location</h2>
        <p class="text-center fs-5">Our headquarters are located at:</p>
        <p class="text-center fs-5">Via Carlo Livi, 442122 Reggio Emilia RE, Italy</p>
    </section>
</div>
<app-footer></app-footer>