<app-navbar></app-navbar>
<div class="container">
    <img class="img-fluid d-flex mx-auto d-block" src="../../assets/home.png" >
    <p class="fs-2 text-center mt-5">Welcome message emphasizing accurate billing, seamless customer interactions, and hassle-free payment processes</p>
    <p class="fs-3 text-center mt-5">An Android application for Manage DTH cable TV Subscriber Related activities</p>
    <div class="row mt-5">
        <div class="col-md-3 mt-3 d-flex justify-content-center">
            <img class="img-fluid images" src="../../assets/first.webp" style="height: 400px;">
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-center">
            <img class="img-fluid images" src="../../assets/second.webp" style="height: 400px;">
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-center">
            <img class="img-fluid images" src="../../assets/third.webp" style="height: 400px;">
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-center">
            <img class="img-fluid images" src="../../assets/forth.webp" style="height: 400px;">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 mt-3 d-flex justify-content-center">
            <img class="img-fluid images" src="../../assets/login.PNG" style="height: 400px;">
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-center">
            <img class="img-fluid images" src="../../assets/customers.jpeg" style="height: 400px;">
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-center">
            <img class="img-fluid images" src="../../assets/use.jpeg" style="height: 400px;">
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-center">
            <img class="img-fluid images" src="../../assets/register.PNG" style="height: 400px;">
        </div>
    </div>
    <section class="container my-7 mt-5">
        <h2 class="text-center mb-4 mt-5">Testimonials</h2>
        <div class="container">
            <p class="text-center se1 mb-0 fs-4">"Accurate billing and user-friendly features have made a huge difference for our business."</p>
            <footer class="text-center blockquote-footer mt-1 fs-5">John Doe</footer>
            <p class="text-center se1 mb-0 fs-4">"Effortless billing has saved us time and money. Highly recommended!"</p>
            <footer class="text-center blockquote-footer mt-1 fs-5">Jane Smith</footer>
        </div>
    </section>

    <section class="container text-center my-5 mt-5">
        <h2>Experience Effortless Billing</h2>
        <p class="text-center fs-4">Discover how our billing solution can streamline your business operations.</p>
        <a href="https://play.google.com/store/apps/details?id=lk.appslanka.dth&hl=it&gl=US" target="_blank" class="btn btn-primary btn-lg">Try Demo</a>
    </section>
</div>
<app-footer></app-footer>